/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
}
h1 {
    text-align: center;
}
.nav-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFF;
}
.nav-bar img {
    width: 200px;
    margin-left: 20px;
}
.nav-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 30%;
    margin-right: 20px;
}
.nav-bar-ul a {
    font-size: 1.2em;
    text-decoration: none;
    color: #1A1A1A;
}
header {
    background-image: url('/images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    color: #FFF;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    color: white;
    font-size: 2rem;
    width: 50%;
}
.text p {
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
.discover div {
    display: flex;
    justify-content: space-between;
}
.discover img {
    width: 90px;
}
.discover h2 {
    text-align: center;
    margin-bottom: 5px;
    padding-right: 3%;
    text-decoration: underline;
    text-decoration-color: #00B172;
    font-size: 40px;
}
.discover article {
    padding: 0 10%;
    margin-top: 50px;
    text-align: center;
}
.discover h3 {
    color: #00B172;
}
.discover p {
    color: 	#808080;
}
.theGreenSection {
    background-color: #00B172;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 140px;
}
.sammel {
    display: flex;
    justify-content: center;
    align-items: center;   
}
.sammel h4 {
    font-size: 1.5rem;
}
.sammel p {
    width: 60%;
    margin-right: 0;
}
.spotify-image{
    width: 100px;
}
.kayne-pic{
    height: 25rem;
    width: 16rem;
    margin-left: 50%;
}
.font{
    color: white;
    font-size: 40px;
    text-decoration: underline;
    line-height: 0%;
}


